.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-left{
    position: absolute;
    left :50px;
    top:20px;
}
.top-right{
    position: absolute;
    right:50px;
    top:20px;

}
li{
   margin-right:25px;
    float: left;
    list-style-type:none;
    color: white;
    font-size: 20px;
}

.default{  
    color: white;
    width: 150px;
    height:50px ; 
    border-color: darkgray;
    font-size: 30px;
    background-color: inherit;
 margin-left: 30%

}
.btn:hover {background: #eee;}

.container{
    color: white;
   margin-bottom: 0%;
    position: relative;
}
img{
    width: 100%;
    height: 100%;

}
a{
    text-decoration:none;
}
.middel{
    width: 100%;
    height:90%;
    background: linear-gradient(to right, #46af7a 40%, #115a29 100%);
    
}
.center{
    text-align: center;
    vertical-align: middle;
padding-top: 4%;
color: #eee;
}
.fa{
    
    margin-top: 50px;
    padding: 30px;
    margin-bottom: 20px;
border-color: #eee;
color: #eee;
border-style: solid;
border-radius: 90px;
border-width: 1px;
}
.midell ,.first ,.last {
    float :left;
    height:60px;
    width: 250px;
    margin-left: 13%;
    color: #eee;
    text-align: center;
    vertical-align: middle;
}
.third{
    width: 100%;
    height: 200%; 
    margin-left: 40px;
}
.hidder{
    color: darkgrey;
    margin-top: 10%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;

}
.firsthr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    margin-left: 100px;
    margin-right: 100px;
    border-style: double;
  
}
.photothird{
     float: left;
     width:580px;
     height: 400px;
     margin-left: 50px;
     margin-top: 30px;
     text-align: center;
vertical-align: middle;
color: darkgrey;
    }
.secondhr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    margin-left: 70px;
    margin-right: 70px;
    border-style: double;
    border-width: 0.7px;
    border-color: darkgray; 
  
}
 h1, p{
    text-align: center;
    vertical-align: middle;
}
.s{
    color: darkgray;
  margin-left:40%;
  margin-top: 50px;
   font-size: 100px;
   width: 250px;
   height: 70px;
}
.footer{
    background: #404040;
    width: 100%;
    height: 100%;
}
.right{
  float: left;
    width: 25%;
    height: 50%;
    margin-left:7%;
    padding-top:7%;
    color: rgb(189, 184, 184);

}

.afooter:hover {
        color: white;
        list-style-type: none;
      
}
.afooter{
    color: rgb(172, 167, 167);
font-size: 18px;
}